<html>
<head>
    <title>Blog</title>
</head>
<body>
    <div>
        <h1><a href="#">Блог</a></h1>
    </div>

    <div>
        <p>дата публикации: 10.10.2010, 10:10</p>
        <h2><a href="#">Первый пост блога</a></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae illum tempore, repellendus, rerum vitae</p>
    </div>

    <div>
        <p>дата публикации: 11.10.2010, 11:11</p>
        <h2><a href="#">Второй пост блога</a></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae illum tempore, repellendus, rerum vitae</p>
    </div>

</body>
</html>